# /etc/systemd/system/baiiab.service
# Logs: sudo journalctl -u baiiab -f
# sudo systemctl restart baiiab
[Unit]
Description=Bad AI In A Box
After=multi-user.target
[Service]
User=pi
Group=pi
Type=simple
Restart=always
WorkingDirectory=/home/pi/baiiab
ExecStart=/usr/bin/python /home/pi/baiiab/service.py
[Install]
WantedBy=multi-user.target